<html>
  <head>
  <title>Touch and Go!</title>
    <script src="/js/jquery-1.3.2.min.js"></script><%#{{{%>
    <script src="/js/jquery.md5.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/jquery-tools-flashembed.js"></script>
    <script src="/js/json.js"></script>
    <script src="/js/jsocket.js"></script><%#}}}%>
   <script type="text/javascript" src="/js/touch_fu.js"></script>
   <%# <script type="text/javascript" src="/js/touch_and_go.js"></script> -%>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
