<script type="text/javascript" src="/js/touch_and_go.js"></script>
<div id="container">
  <div id="log">
  </div>
  <div id="flash_container">
  </div>
  <!-- <img src="/images/suica_penguin.png" alt="hoget"/> -->
</div>
